<div class="calendar">

	<mat-toolbar color="primary">
		<button mat-stroked-button matTooltip="Go to current day" (click)="goToCurrentMonth()">Today</button>
		<div class="navigation-buttons">
			<button mat-icon-button matTooltip="Previous month" (click)="previousMonth()">
				<mat-icon>
					arrow_back_ios
				</mat-icon>
			</button>
			<button mat-icon-button matTooltip="Next month" (click)="nextMonth()">
				<mat-icon>
					arrow_forward_ios
				</mat-icon>
			</button>
		</div>
		<h2>{{ monthName }} {{ year }}</h2>
	</mat-toolbar>

	<div class="week-days">
		<div *ngFor="let day of weekDays">
			<h4>{{ day }}</h4>
		</div>
	</div>
	<div class="weeks">
		<div *ngFor="let week of weeksInMonth">
			<div *ngFor="let day of week" [class.today]="isToday(day)" [class.invalid]="day.date === -1">
				<button mat-flat-button class="day" [color]="isToday(day) ? 'primary' : ''" matTooltip="See appointments on {{ monthName + ' ' + day.date }}" (click)="viewAppointments(day)">
					{{ day.date }}
				</button>
			</div>
		</div>
	</div>
</div>